
<% layout('layouts/boilerplate')%>
<h1 class="Display-1 bg-primary text-white rounded-pill text-center">Create New Card</h1>
<div id="div">  
  <form id="mForm" class="form-inline validated-form" action="new"
    method="POST" enctype="multipart/form-data" novalidate>
      <div>
        <input placeholder="Head" id="title" class="form-control" 
      name="card[title]" required="true">
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Pleas enter a heading!</div>
      </div>
      <div id="fDiv" class="card container-fluid">
      <!-- <input type="file" name="image" id="" multiple> -->
      <div >
        <!-- <label for="formFile" class="form-label">Default file input example</label> -->
        <input class="form-control" type="file" id="formFile" name="image" multiple>
        </div>
      </div>
      
      <button class="btn btn-primary">Create Card!</button>
    </form>
  <button id="addTextBtn">Add Text</button>
  <button id="addListBtn">Add List</button>
  <button id="addLinkBtn">Add Link</button>
  <!-- <button></button> -->
</div>

<script src="../newFunctions.js"></script>

<script>
  (function() {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
  })();
</script>
  
