<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/cards" method="POST" id="cardForm">
    <div>
      <label for="title">Tittle</label>
      <input type="text" id="title" placeholder="Card title" name="card[title]">
    </div>
        <button>Add Card</button>
  </form>
</body>
</html>
